body {
  background: #eee;
  margin: 20px;
  font-family: "Open Sans";
}

.todo-wrapper {
  width: 450px;
  margin: 0 auto;
  background: #444;
  border-top: 5px solid #f9cf41;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  color: #FFF;
}

.todo-wrapper p {
  color: #777;
  font-style: italic;
  padding: 25px 10px;
  margin: 0;
  color: #f9cf41;
  border-bottom: 1px solid #f9cf41;
  background-color: rgba(0, 0, 0, 0.01);
}

.todo-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
