.todo-item {
  padding: 15px;
  border-bottom: 1px solid #f9cf41;
  display: flex;
}

.todo-item:hover {
  color: #f9cf41;
}

.item-name {
  flex-basis: 0;
  flex-grow: 9;
}

.item-delete {
  flex-basis: 0;
  flex-grow: 1;
  text-align: right;
  color: #FFBB00;
  font-weight: bold;
  cursor: pointer;
}
