.todo-item {
  padding: 15px;
  border-bottom: 1px solid #0969A2;
  display: flex;
}

.todo-item:hover {
  /*background: #eee;*/
  background-color: #ECF2FE;
  border-left: 5px solid #0969A2;
  padding: 15px 15px 15px 10px;
}

.item-name {
  flex-basis: 0;
  flex-grow: 9;
}

.item-delete {
  flex-basis: 0;
  flex-grow: 1;
  text-align: right;
  color: #FFBB00;
  font-weight: bold;
  cursor: pointer;
}
